<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>C&D Waste</title>
    {% load static %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css'%}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Raleway:400,700" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="{% static 'css/business-casual.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/about.css'%}" rel="stylesheet">


</head>
<body>
    {% if user.is_authenticated %}
    <nav class="nav justify-content-end text-primary p-1">
      <!-- <a class="navbar-brand">Navbar</a> -->
        <span class="float-right">
          Hi {{ user.username }}! &nbsp;
          <a class="btn btn-warning my-2 my-sm-0" style="background-color: #e6a756 !important" href="{% url 'logout' %}">logout</a>
        </span>
    </nav>
    {% endif %}
    <h1 class="site-heading text-center text-white d-none d-lg-block">
        <span class="site-heading-upper text-primary mb-3">Construction and Demolition Waste</span>
        <!-- <span class="site-heading-lower">War on Waste</span> -->
    </h1>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
        <div class="container">
            <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Construction and Demolition Waste</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="{% url 'statistics' %}">Statistics</a>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="{% url 'WasteCalculator'%}">Calculator</a>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="{% url 'SearchLocation'%}">Search</a>
                    </li>
                    <li class="nav-item active px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="{% url 'about' %} ">About
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="page-section about-heading">
        <div class="container">
            <!--<img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="img/about.jpg" alt="">-->

            <div class="about-heading-content">
                <div class="row">
                    <div class="col-xl-9 col-lg-10 mx-auto">
                        <div class="bg-faded rounded p-5">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">Construction & Demolition Waste</span>
                                <span class="section-heading-lower">About Us</span>
                            </h2>

                            <p> We the Cavaliers are an enthusiastic team of Monash students deeply concerned about the War on Waste in Australia. This website elaborates on the existing problem of Construction and Demolition waste in Melbourne region. An in-detailed analysis has gone into - how much waste we have produced, how much we will produce and how we can reduce and recycle. </p>

                           <br>

                           <p>Keep updated on our latest developments and connect with us to share your own "War on Waste" stories!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section cta">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="cta-inner text-center rounded">
                        <h2 class="section-heading mb-5">
                            <span class="section-heading-upper">Construction and Demolition Waste</span>
                            <span class="section-heading-lower">Our Team</span>
                        </h2>

                        <div class="row">
                            <div class="col-sm-3">
                                <div class="team-member">
                                    <img class="mx-auto rounded-circle" src="{% static 'img/team/1.png'%}" alt="">
                                    <h4>Thi Thanh Thao Nguyen</h4>
                                    <p class="text-muted">Data analyst</p>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="team-member">
                                    <img class="mx-auto rounded-circle" src="{% static 'img/team/2.png'%}" alt="">
                                    <h4>Mayue Jiang</h4>
                                    <p class="text-muted">Programmer</p>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="team-member">
                                    <img class="mx-auto rounded-circle" src="{% static 'img/team/3.png'%}" alt="">
                                    <h4>Abhivikram Veer Singh</h4>
                                    <p class="text-muted">Project Manager</p>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="team-member">
                                    <img class="mx-auto rounded-circle" src="{% static 'img/team/4.png'%}" alt="">
                                    <h4>Yicong Jin</h4>
                                    <p class="text-muted">Programmer</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>




    <footer class="footer text-faded text-center py-5">
        <div class="container">
            <p class="m-0 small">Copyright &copy; Team Cavaliers 2018</p>
        </div>
    </footer>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'jquery/jquery.min.js'%}"></script>
<script src="{% static 'js/bootstrap.bundle.js'%}"></script>



</body>
</html>
