<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>C&D Waste</title>
    {% load static %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css'%}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Raleway:400,700" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="{% static 'css/business-casual.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/goomap.css'%}" rel="stylesheet">

    <!--import map js file-->
    <script src="{% static 'js/goomap.js'%}"></script>
</head>
<body>
<h1 class="site-heading text-center text-white d-none d-lg-block">
    <span class="site-heading-upper text-primary mb-3">Construction and Demolition Waste</span>
    <span class="site-heading-lower">War on Waste</span>
</h1>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Construction and
            Demolition Waste</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" href="{% url 'statistics' %}">Statistics</a>
                </li>
                <li class="nav-item px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" href="{% url 'SearchLocation'%}">Search</a>
                </li>
                <li class="nav-item active px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" href="{% url 'about' %} ">About
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 mx-auto">
                <div class="cta-inner text-center rounded">
                    <h2 class="section-heading mb-5">
                        <span class="section-heading-upper">Search Drop-off Locations!</span>
                        <!--<span class="section-heading-lower">Search Drop-off Locations!</span>-->
                    </h2>
                    <div class="row">
                        <div class="col-sm-3 col-md-6 col-lg-4 col-xl-3">
                            <select id="search_type">
                                <option value="Sell">Sell</option>
                                <option value="Recycle">Recycle</option>
                            </select>
                            <div id='results-container'>
                                <table class="table table-hover">
                                    <tbody>
                                    <tr class="Sell">
                                        <td>Clayton Council</td>
                                    </tr>
                                    <tr class="Recycle">
                                        <td>Monash Council</td>
                                    </tr>
                                    <tr class="Recycle">
                                        <td>Caulfield Council</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-sm-9 col-md-6 col-lg-8 col-xl-9">
                            <input id="pac-input" class="controls" type="text" placeholder="Search by address">
                            <div id="map" ></div>
                            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-I2HyS_JDhn5oAzxhdS85HRa2Mo2COOo&libraries=places&callback=initAutocomplete"
                                    async defer></script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="footer text-faded text-center py-5">
    <div class="container">
        <p class="m-0 small">Copyright &copy; Team Cavaliers 2018</p>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'jquery/jquery.min.js'%}"></script>
<script src="{% static 'js/bootstrap.bundle.js'%}"></script>


</body>
</html>
