<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>C&D Waste</title>
    {% load static %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css'%}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,700,700i,900,900i"
          rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="{% static 'lib/ionicons/css/ionicons.min.css'%}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css'%}" rel="stylesheet">
    <link href="{% static 'lib/magnific-popup/magnific-popup.css'%}" rel="stylesheet">
    <link href="{% static 'lib/hover/hover.min.css'%}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="{% static 'css/style.css'%}" rel="stylesheet">

    <!-- Responsive css -->
    <link href="{% static 'css/responsive.css'%}" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="{% static 'css/goomap.css'%}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>

    <!--import map js file-->
    <script src="{% static 'jquery/jquery.min.js'%}"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <!--<script src="{% static 'js/gooSearch.js'%}"></script>-->
    <script src="{% static 'js/list-map.js'%}"></script>
</head>

<body>
<!-- start section navbar -->
<nav id="main-nav">
    <div class="row">
        <div class="container">
            <div class="responsive"><i data-icon="m" class="ion-navicon-round"></i></div>
            <ul class="nav-menu list-unstyled">
                <li>
                    <a class="smoothScroll" href="{% url 'home'%}">Home<span class="sr-only">(current)</span></a>
                </li>
                <li><a class="smoothScroll" href="{% url 'WasteCalculator'%}">Calculator</a></li>
                <li><a class="smoothScroll" href="{% url 'statistics'%}">Statistics</a></li>
                <li><a class="smoothScroll" href="{% url 'SearchLocation'%}">Search</a></li>
                <li><a class="smoothScroll" href="{% url 'about'%}">About</a></li>
                {% if user.is_authenticated %}
                <li><a class="smoothScroll" href="{% url 'logout' %}">logout</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<!-- End section navbar -->

<!-- start section -->
<div id="about1" class="paddsection" style="padding-top: 90px">
    <div class="container">
        <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-5">
                <span class="section-heading-upper">Search Drop-off Locations!</span>
            </h2>
        </div>

        <div class="row justify-content-between">
            <div class="col-lg-6">
                <table id="example" class="display" style="width:100%">
                    <thead>
                    <tr>
                        <th>Type</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Distance(Km)</th>
                    </tr>
                    </thead>
                </table>
            </div>

            <div class="col-lg-6">
                <div class="div-img-bg">
                    <div class="about-img">
                        <div class="img-responsive">
                            <div class="about-descr">
                                <p></p>
                                <div id="findhotels" class="p-heading"
                                     style="padding-top: 10px;padding-bottom: 10px;padding-left: 20px">Find
                                    drop-off locations in:
                                </div>
                                <div id="locationField"
                                     style="padding-top: 10px; padding-bottom: 10px;padding-left: 20px">
                                    <input id="autocomplete" placeholder="Search by address"
                                           style="width: 300px"
                                           type="text"/>
                                </div>
                            </div>

                            <!--<div id="legend"><h3>Legend</h3></div>-->
                            <div id="controls" style="display: none"><select id="country">
                                <option value="au">Melbourne</option>
                            </select></div>
                        </div>
                        <div id="map"></div>
                        <style>
                            #legend {
                                font-family: Arial, sans-serif;
                                background: #fff;
                                padding: 10px;
                                margin: 10px;
                                border: 3px solid #000;
                            }
                            #legend h3 {
                                margin-top: 0;
                            }
                            #legend img {
                                vertical-align: middle;
                            }
                        </style>
                    </div>

                    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-I2HyS_JDhn5oAzxhdS85HRa2Mo2COOo&libraries&libraries=geometry"></script>
                    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-I2HyS_JDhn5oAzxhdS85HRa2Mo2COOo&libraries=places&callback=initMap"
                            async defer></script>
                </div>

            </div>

        </div>

    </div>
</div>
</div>
<!-- start section footer -->
<div id="footer" class="text-center">
    <div class="container">
        <p>&copy; Copyrights Folio. All rights reserved.</p>

        <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Folio
            -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>

    </div>
</div>
<!-- End section footer -->


<!--d3 JavaScript-->
<!-- JavaScript Libraries -->
<!--<script src="{% static 'lib/jquery/jquery.min.js'%}"></script>-->
<script src="{% static 'lib/jquery/jquery-migrate.min.js'%}"></script>
<script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
<script src="{% static 'lib/typed/typed.js'%}"></script>
<script src="{% static 'lib/owlcarousel/owl.carousel.min.js'%}"></script>
<script src="{% static 'lib/magnific-popup/magnific-popup.min.js'%}"></script>
<script src="{% static 'lib/isotope/isotope.pkgd.min.js'%}"></script>

<!-- Template Main Javascript File -->
<script src="{% static 'js/main.js'%}"></script>


<!-- Bootstrap core JavaScript -->
<script src="{% static 'js/bootstrap.bundle.js'%}"></script>


</body>
</html>
