<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>C&D Waste</title>
    {% load static %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css'%}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,700,700i,900,900i"
          rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="{% static 'lib/ionicons/css/ionicons.min.css'%}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css'%}" rel="stylesheet">
    <link href="{% static 'lib/magnific-popup/magnific-popup.css'%}" rel="stylesheet">
    <link href="{% static 'lib/hover/hover.min.css'%}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="{% static 'css/style.css'%}" rel="stylesheet">
    <link href="{% static 'css/about.css'%}" rel="stylesheet">

    <!-- Responsive css -->
    <link href="{% static 'css/responsive.css'%}" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="{% static 'css/goomap.css'%}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>

    <!--import map js file-->
    <script src="{% static 'jquery/jquery.min.js'%}"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="{% static 'js/list-map.js'%}?v=7.0"></script>
</head>

<body>
<!-- start section navbar -->
<nav id="main-nav">
    <div class="row">
        <div class="container">
            <div class="responsive"><i data-icon="m" class="ion-navicon-round"></i></div>
            <ul class="nav-menu list-unstyled">
                <li><a class="smoothScroll" href="{% url 'home'%}">Home<span class="sr-only">(current)</span></a></li>
                <li><a class="smoothScroll" href="{% url 'statistics'%}">Statistics</a></li>
                <li><a class="smoothScroll" href="{% url 'WasteCalculator'%}">Waste Calculator</a></li>
                <li><a class="smoothScroll" href="{% url 'SearchLocation'%}">Recycle near you</a></li>
                <li><a class="smoothScroll" href="{% url 'suggestions'%}">Suggestions</a></li>
                <li><a class="smoothScroll" href="{% url 'about'%}">About Us</a></li>
                {% if user.is_authenticated %}
                <li><a class="smoothScroll" href="{% url 'logout' %}">logout</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<!-- End section navbar -->

<!-- start section -->
<div id="about1" class="paddsection" style="padding-top: 90px">
    <div class="container">
        <!--jimmy add error message below-->
        <div class="overlay" id="overlay" style="display:none;"></div>

        <div class="popup" id="popup" style="display:none;">
            <div class="popup-inner">
                <input type="button" name="Close" class="s3-btn-close" onclick="popupClose();" value="&times;">

                <h2>Sorry</h2>
                <p>Please select the address in the options!</p>
            </div>
        </div>

        <section id="subscribe">
            <div class="container wow fadeInUp">
                <h3 class="subscribe-title" style="text-align: center">Find drop-off locations in:</h3>
                <p></p>
                <div class="subscribe-text">
                    <input id="autocomplete" placeholder="Search by address" type="text"/>
                </div>
            </div>
        </section>


        <div class="img-responsive">
            <div id="controls" style="display: none"><select id="country">
                <option value="au">Melbourne</option>
            </select></div>
        </div>

        <div class="row justify-content-between" style="padding-top: 40px">
            <div class="col-lg-6">
                <table id="example" class="display">
                    <thead>
                    <tr>
                        <th>Type</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th class="col_distance">Distance(Km)</th>
                    </tr>
                    </thead>
                </table>
            </div>

            <div class="col-lg-6">
                <div class="div-img-bg">
                    <div class="about-img">
                        <div id="map"></div>
                    </div>
                    <style>
                        #legend {
                            font-family: Arial, sans-serif;
                            background: #fff;
                            padding: 10px;
                            margin: 10px;
                            border: 3px solid #000;
                        }
                        #legend h3 {
                            margin-top: 0;
                        }
                        #legend img {
                            vertical-align: middle;
                        }
                    </style>
                    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-I2HyS_JDhn5oAzxhdS85HRa2Mo2COOo&libraries=geometry,places&callback=initMap"
                            async defer></script>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="media">
                      <div class="media-left media-middle">
                        <img class="media-object" src="http://maps.google.com/mapfiles/ms/icons/green-dot.png">

                      </div>
                      <div class="media-body">
                        <h4 class="media-heading">Drop-Off Location</h4>

                      </div>
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <div class="media">
                      <div class="media-left media-middle">
                        <img class="media-object" src="http://maps.google.com/mapfiles/ms/icons/blue-dot.png">

                      </div>
                      <div class="media-body">
                        <h4 class="media-heading">Recycle Location</h4>

                      </div>
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <div class="media">
                      <div class="media-left media-middle">
                        <img class="media-object" src="http://maps.google.com/mapfiles/ms/icons/red-dot.png">

                      </div>
                      <div class="media-body">
                        <h4 class="media-heading">Reuse Location</h4>

                      </div>
                    </div>
                  </div>
                </div>


            </div>
        </div>
    </div>
</div>

<!-- start section footer -->
<div id="footer" class="text-center">
    <div class="container">
        <p>&copy; Copyrights Folio. All rights reserved.</p>

        <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Folio
            -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>

    </div>
</div>
<!-- End section footer -->

<!-- JavaScript Libraries -->
<script src="{% static 'lib/jquery/jquery-migrate.min.js'%}"></script>
<script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
<script src="{% static 'lib/typed/typed.js'%}"></script>
<script src="{% static 'lib/owlcarousel/owl.carousel.min.js'%}"></script>
<script src="{% static 'lib/magnific-popup/magnific-popup.min.js'%}"></script>
<script src="{% static 'lib/isotope/isotope.pkgd.min.js'%}"></script>

<!-- Template Main Javascript File -->
<script src="{% static 'js/main.js'%}"></script>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'js/bootstrap.bundle.js'%}"></script>

</body>
</html>
