<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>C&D Waste</title>
    {% load static %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css'%}" rel="stylesheet">
    <link href="{% static 'lib/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Raleway:400,700" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="{% static 'css/about.css'%}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="{% static 'lib/ionicons/css/ionicons.min.css'%}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css'%}" rel="stylesheet">
    <link href="{% static 'lib/magnific-popup/magnific-popup.css'%}" rel="stylesheet">
    <link href="{% static 'lib/hover/hover.min.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!-- Main Stylesheet File -->
    <link href="{% static 'css/style.css'%}" rel="stylesheet">
    <link href="{% static 'css/suggestion.css'%}" rel="stylesheet">

    <!-- Responsive css -->
    <link href="{% static 'css/responsive.css'%}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,700,700i,900,900i"
          rel="stylesheet">

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'jquery/jquery.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.bundle.js'%}"></script>

</head>
<body>

<!--start section navbar -->
<nav id="main-nav">
    <div class="row">
        <div class="container">
            <div class="responsive"><i data-icon="m" class="ion-navicon-round"></i></div>
            <ul class="nav-menu list-unstyled">
                <li><a class="smoothScroll" href="{% url 'home'%}">Home<span class="sr-only">(current)</span></a></li>
                <li><a class="smoothScroll" href="{% url 'statistics'%}">Statistics</a></li>
                <li><a class="smoothScroll" href="{% url 'WasteCalculator'%}">Waste Calculator</a></li>
                <li><a class="smoothScroll" href="{% url 'SearchLocation'%}">Recycle near you</a></li>
                <li><a class="smoothScroll" href="{% url 'suggestions'%}">Suggestions</a></li>
                <li><a class="smoothScroll" href="{% url 'about'%}">About Us</a></li>
                {% if user.is_authenticated %}
                <li><a class="smoothScroll" href="{% url 'logout' %}">logout</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<!--end with navigation section-->

<section class="comonSection portfolios2" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
                <h2 class="sectionTitle2">
                    <small>Recent Case studies</small>
                    What we have done so far.
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="folioNav folioNav2">
                    <ul id="filter">
                        <li class="active" data-group="all">All</li>
                        <li data-group="webdesign">Home Builder</li>
                        <li data-group="mobile">Volume Builder</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="folioGrid2" id="folioGrid2">
        <div class="folioItem2" data-groups='["all", "photography", "mobile"]'>
            <img src="{% static 'img/p1.jpg'%}" alt=""/>
            <div class="fI2Hover">
                <div class="fI2content">
                    <h2><a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">model1 Website</a></h2>
                </div>
            </div>
        </div>
        <div class="folioItem2" data-groups='["all", "webdesign", "mobile"]'>
            <img src="{% static 'img/p2.jpg'%}" alt=""/>
            <div class="fI2Hover">
                <div class="fI2content">
                    <h2><a href="singlefolio.html">Cooking Website</a></h2>
                    <div class="fI2Cats">
                        <a href="#">Photography</a><span>/</span><a href="#">Development</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="folioItem2" data-groups='["all", "mobile", "photography"]'>
            <img src="{% static 'img/p3.jpg'%}" alt=""/>
            <div class="fI2Hover">
                <div class="fI2content">
                    <h2><a href="singlefolio.html">Agency Website</a></h2>
                    <div class="fI2Cats">
                        <a href="#">Photography</a><span>/</span><a href="#">Mobile</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="folioItem2" data-groups='["all", "webdesign"]'>
            <img src="{% static 'img/p4.jpg'%}" alt=""/>
            <div class="fI2Hover">
                <div class="fI2content">
                    <h2><a href="singlefolio.html">Agency Website</a></h2>
                    <div class="fI2Cats">
                        <a href="#">Photography</a><span>/</span><a href="#">Mobile</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="folioItem2" data-groups='["all", "webdesign"]'>
            <img src="{% static 'img/p5.jpg'%}" alt=""/>
            <div class="fI2Hover">
                <div class="fI2content">
                    <h2><a href="singlefolio.html">Agency Website</a></h2>
                    <div class="fI2Cats">
                        <a href="#">Photography</a><span>/</span><a href="#">Mobile</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="folioItem2" data-groups='["all", "webdesign"]'>
            <img src="{% static 'img/p6.jpg'%}" alt=""/>
            <div class="fI2Hover">
                <div class="fI2content">
                    <h2><a href="singlefolio.html">Agency Website</a></h2>
                    <div class="fI2Cats">
                        <a href="#">Photography</a><span>/</span><a href="#">Mobile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-fluid d-block mx-auto" src="img/portfolio/01-full.jpg" alt="">
                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                            <ul class="list-inline">
                                <li>Date: January 2017</li>
                                <li>Client: Threads</li>
                                <li>Category: Illustration</li>
                            </ul>
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fa fa-times"></i>
                                Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






<!-- JavaScript Libraries -->
<script src="{% static 'lib/jquery/jquery.min.js'%}"></script>
<script src="{% static 'lib/jquery/jquery-migrate.min.js'%}"></script>
<script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
<script src="{% static 'lib/typed/typed.js'%}"></script>
<script src="{% static 'lib/owlcarousel/owl.carousel.min.js'%}"></script>
<script src="{% static 'lib/magnific-popup/magnific-popup.min.js'%}"></script>
<script src="{% static 'lib/isotope/isotope.pkgd.min.js'%}"></script>
<!--<script src="{% static 'js/mixer.js'%}"></script>-->
<script src="{% static 'js/wow.min.js'%}"></script>
<script src="{% static 'js/jquery.appear.js'%}"></script>
<!--<script src="{% static 'js/prettyPhoto.js'%}"></script>-->
<script src="{% static 'js/jquery.shuffle.min.js'%}"></script>
<!--<script src="{% static 'js/mixer.js'%}"></script>-->
<!--<script src="{% static 'js/jquery.magnific-popup.min.js'%}"></script>-->
<!--<script src="{% static 'js/modernizr.custom.js'%}"></script>-->
<!--<script src="{% static 'js/classie.js'%}"></script>-->
<!--<script src="{% static 'js/blogpopup.js'%}"></script>-->
<!--<script src="{% static 'js/jquery.themepunch.tools.min.js'%}"></script>-->
<!--<script src="{% static 'js/jquery.themepunch.revolution.min.js'%}"></script>-->

<!-- Template Main Javascript File -->
<script src="{% static 'js/main.js'%}"></script>
<script src="{% static 'js/theme.js'%}"></script>

</body>
</html>
