<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>C&D Waste</title>
    {% load static %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css'%}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Raleway:400,700" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,700,700i,900,900i"
          rel="stylesheet">

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'jquery/jquery.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.bundle.js'%}"></script>
    <link href="{% static 'lib/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="{% static 'lib/ionicons/css/ionicons.min.css'%}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css'%}" rel="stylesheet">
    <link href="{% static 'lib/magnific-popup/magnific-popup.css'%}" rel="stylesheet">
    <link href="{% static 'lib/hover/hover.min.css'%}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="{% static 'css/style.css'%}" rel="stylesheet">

    <!-- Responsive css -->
    <link href="{% static 'css/responsive.css'%}" rel="stylesheet">

    <!--animate css modal-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css">

    <!--Swiper CSS-->
    <link rel="stylesheet" href="{% static 'dist/css/swiper.min.css'%}">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/business-casual.css'%}" rel="stylesheet">

    <!--css file from animate js-->
    <link href="{% static 'dist/css/animate.min.css'%}" rel="stylesheet">
</head>
<body>
<!-- start section navbar -->
<nav id="main-nav">
    <div class="row">
        <div class="container">
            <div class="responsive"><i data-icon="m" class="ion-navicon-round"></i></div>
            <ul class="nav-menu list-unstyled">
                <li><a class="smoothScroll" href="{% url 'home'%}">Home<span class="sr-only">(current)</span></a></li>
                <li><a class="smoothScroll" href="{% url 'statistics'%}">Statistics</a></li>
                <li><a class="smoothScroll" href="{% url 'WasteCalculator'%}">Waste Calculator</a></li>
                <li><a class="smoothScroll" href="{% url 'SearchLocation'%}">Recycle near you</a></li>
                <li><a class="smoothScroll" href="{% url 'suggestions'%}">Suggestions</a></li>
                <li><a class="smoothScroll" href="{% url 'about'%}">About Us</a></li>
                {% if user.is_authenticated %}
                <li><a class="smoothScroll" href="{% url 'logout' %}">logout</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<!-- End section navbar -->

<!--calculator-->
<div id="about" class="paddsection" style="padding-top: 120px">
    <div class="container">
        <!--parallax background set up-->
        <div data-space-between="10" data-direction="vertical" class="swiper-container">
            <div class="parallax-bg" data-swiper-parallax="-23%"></div>

            <div class="swiper-wrapper">

                <!--choose the type of construction-->
                <div class="swiper-slide swiper-no-swiping chooseUserPage">

                    <div class="containerForSplitView">
                        <div class="split left">

                            <h3>You are a</h3>
                            <h1>Volume Builder</h1>
                            <button class="btn-dark button" onclick="moveOnePageAfter()">Select</button>
                        </div>
                        <div class="split right">

                            <h3>You are a</h3>
                            <h1>Owner Builder</h1>
                            <button class="btn-dark button" onclick="moveTwoPageAfter()">Select</button>
                        </div>
                    </div>

                </div>

                <!--second page for choose the type of building-->
                <div class="swiper-slide swiper-no-swiping chooseBuildingPage">

                    <!--back button-->
                    <a class="back swiper-button-prev-customized">
                        <span></span>
                    </a>

                    <div class="chooseDescription">choose the type of building</div>

                    <!--container for the four card display-->
                    <div class="row" style="height: 100%; width: 90%; margin: 20px auto 100px; align-items: center">
                        <div class="containerForCard col-lg-3 col-md-6">
                            <div class="cardView swiper-button-next-customized" value="1">
                                <figure class="front">
                                    <img src="https://source.unsplash.com/QJHzMkfrJpI" alt="front">
                                    <div class="caption">
                                        <h2>Hospital</h2>
                                        <p>Select this</p>

                                    </div>
                                </figure>
                            </div>
                        </div>

                        <div class="containerForCard col-lg-3 col-md-6">
                            <div class="cardView swiper-button-next-customized" value="2">
                                <figure class="front">
                                    <img src="https://source.unsplash.com/v8ZlRRM83Zs" alt="front">
                                    <div class="caption">
                                        <h2>Hotel</h2>
                                        <p>Select this</p>

                                    </div>
                                </figure>
                            </div>
                        </div>

                        <div class="containerForCard col-lg-3 col-md-6">
                            <div class="cardView swiper-button-next-customized" value="3">
                                <figure class="front">
                                    <img src="https://source.unsplash.com/ctUWE7BUEzE" alt="front">
                                    <div class="caption">
                                        <h2>Student Dormitory</h2>
                                        <p>Select this</p>

                                    </div>
                                </figure>
                            </div>
                        </div>

                        <div class="containerForCard col-lg-3 col-md-6">
                            <div class="cardView swiper-button-next-customized" value="4">
                                <figure class="front">
                                    <img src="https://source.unsplash.com/dhvtr5fwbHI" alt="front">
                                    <div class="caption">
                                        <h2>Residential Building</h2>
                                        <p>Select this</p>

                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>

                <!--third page for user to tyoe in the detail of their building-->
                <div class="swiper-slide swiper-no-swiping typeInDetailPage">

                    <!--back button-->
                    <a class="back" onclick="moveBackPage()">
                        <span></span>
                    </a>

                    <div class="chooseDescription">Please type in building information below</div>

                    <!--form for user to input-->
                    <div class="user">
                        <form class="form">

                            <input id="detailBox1" type="text" placeholder="Enter number of bed rooms"
                                   class="form__input"/>

                            <input id="detailBox2" type="text" placeholder="Enter number of living rooms"
                                   class="form__input"/>

                            <input id="detailBox3" type="text" placeholder="Enter number of kitchens"
                                   class="form__input"/>

                            <input id="detailBox4" type="text" placeholder="Enter number of car parks"
                                   class="form__input"/>

                            <button class="btnForCalculator" type="button" onclick="clearErrorInformation()">Calculate</button>
                        </form>

                    </div>

                    <!--error message-->
                    <div id="errorInput" >Please type in non-negative number</div>
                </div>

                <!--fourth page to display the waste information base on the detail-->
                <div class="swiper-slide swiper-no-swiping displayDetailPage">

                    <!--back button-->
                    <a class="back swiper-button-prev-customized">
                        <span></span>
                    </a>

                    <div class="chooseDescription">Here is the amount of material you may waste</div>

                    <!--container for displaying the number-->
                    <div class="containerForDisplay">
                        <div class="row" style="margin: 50px auto 20px">
                            <div class="col-lg-3 col-md-6">
                                <div class="card">
                                    <img src="{% static 'img/calculator-brick.jpg'%}">
                                    <h4>Brick</h4>
                                    <p>Waste approx:</p>
                                    <p id="tonesOfBrick">1</p>
                                    <p>Waste cost:</p>
                                    <p id="costOfBrick">2</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="card">
                                    <img src="{% static 'img/calculator-timber.jpg'%}">
                                    <h4>Timber</h4>
                                    <p>Waste approx:</p>
                                    <p id="tonesOfTimber">1</p>
                                    <p>Waste cost:</p>
                                    <p id="costOfTimber">2</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="card">
                                    <img src="{% static 'img/calculator-sand.jpg'%}">
                                    <h4>Sand</h4>
                                    <p>Waste approx:</p>
                                    <p id="tonesOfSand">1</p>
                                    <p>Waste cost:</p>
                                    <p id="costOfSand">2</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="card">
                                    <img src="{% static 'img/calculator-concrete.jpg'%}">
                                    <h4>Cement</h4>
                                    <p>Waste approx:</p>
                                    <p id="tonesOfCement">1</p>
                                    <p>Waste cost:</p>
                                    <p id="costOfCement">2</p>
                                </div>
                            </div>
                        </div>

                        <!--button to the carbon emissions page-->
                        <div class="container" style="text-align: center; margin: 30px auto 40px">
                            <a href="" class="btnToMap yellow swiper-button-next-customized">Check the carbon emissions</a>
                        </div>
                    </div>
                </div>

                <!--fifth page for the carbon emission-->
                <div class="swiper-slide swiper-no-swiping">
                    <div class="container">

                        <!--back button-->
                        <a class="back swiper-button-prev-customized">
                            <span></span>
                        </a>

                        <div class="chooseDescription">Here is the carbon emissions generated by the waste</div>

                        <!--container for carbon emissions-->
                        <div class="container">

                            <div class="row" style="margin: 50px auto 20px">
                                <!--left side of the page-->
                                <div class="col-lg-4 col-sm-12">
                                    <div class="bubble-speech bubble-right">
                                        <h3 class="author" >CO<sub>2</sub>
                                            <div class="tooltip ">
                                                <p>Carbon dioxide is the most significant long-lived greenhouse gas in Earth's atmosphere</p>
                                            </div>
                                        </h3>
                                        <div class="message">
                                            <span id="co2Value" class="count">200</span> metric tonnes
                                        </div>
                                    </div>

                                    <div class="bubble-speech bubble-right">
                                        <h3 class="author">CH<sub>4</sub>
                                            <div class="tooltip ">
                                                <p>Methane is an important greenhouse gas with a global warming potential of 34 compared to CO2 over a 100-year period, and 72 over a 20-year period</p>
                                            </div>
                                        </h3>
                                        <div class="message">
                                            <span id="ch4Value" class="count">200</span> metric tonnes
                                        </div>
                                    </div>
                                </div>

                                <!--place for the rotating earth-->
                                <div class="col-lg-4 col-sm-12" style="text-align: center">
                                    <div class="earth">
                                        <div></div>
                                    </div>
                                </div>

                                <!--right side of the page-->
                                <div class="col-lg-4 col-sm-12">

                                    <div class="bubble-speech bubble-left">
                                        <h3 class="author">N<sub>2</sub>O
                                            <div class="tooltip ">
                                                <p>N2O contribution to the greenhouse effect is less than one-third that of carbon dioxide</p>
                                            </div>
                                        </h3>
                                        <div class="message">
                                            <span id="n2oValue" class="count">200</span> metric tonnes
                                        </div>
                                    </div>

                                    <div class="bubble-speech bubble-left">
                                        <h3 class="author">SF<sub>6</sub> & HCFC-22
                                            <div class="tooltip ">
                                                <p>According to the Intergovernmental Panel on Climate Change, SF6 is the most potent greenhouse gas that it has evaluated</p>
                                            </div>
                                        </h3>
                                        <div class="message">
                                            <span id="sf6Value" class="count">200</span> metric tonnes
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--two buttons to check the suggestion page or map page-->
                        <div class="container" style="text-align: center; margin: 30px auto 40px">
                            <a href="{% url 'suggestions'%}" class="btnToMap yellow">Check our suggestions</a>
                            <a href="{% url 'SearchLocation'%}" class="btnToMap yellow">Check drop sites on map</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!-- end calculator display -->
<!-- start section footer -->
<div id="footer" class="text-center">
    <div class="container">
        <p>&copy; Copyrights Folio. All rights reserved.</p>
        <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Folio
            -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>

    </div>
</div>
<!-- End section footer -->

<!--javascript for calculator-->
<!-- Template Main Javascript File -->
<script src="{% static 'js/main.js'%}"></script>

<script src="{% static 'js/calculator.js'%}"></script>

<script src="{% static 'dist/js/swiper.min.js'%}"></script>

<!--animate js form -->
<script src="{% static 'dist/js/swiper.animate1.0.3.min.js'%}"></script>

<script>

    //var for user type and building type
    var typeOfUser = 0;
    var numberOfBuildingType = 0;

    // for the split view on first page
    const left = document.querySelector(".left");
    const right = document.querySelector(".right");
    const container = document.querySelector(".containerForSplitView");

    left.addEventListener("mouseenter", () => {
        container.classList.add("hover-left");
    });

    left.addEventListener("mouseleave", () => {
        container.classList.remove("hover-left");
    });

    right.addEventListener("mouseenter", () => {
        container.classList.add("hover-right");
    });

    right.addEventListener("mouseleave", () => {
        container.classList.remove("hover-right");
    });

    //for the third page, the building detail user input
    var box1 = $('#detailBox1');
    var box2 = $('#detailBox2');
    var box3 = $('#detailBox3');
    var box4 = $('#detailBox4');

    //card view for display on the second page
    $('.cardView').click(function () {
        numberOfBuildingType = $(this).attr('value');

        //console.log(numberOfBuildingType);
        //console.log(numberOfBuildingType, typeof numberOfBuildingType, numberOfBuildingType === "1");

        //transfer to third page with different hint in the box
        switch (numberOfBuildingType) {
            case "1":
                //console.log(box1.attr("placeholder"));
                box1.attr("placeholder", "Enter number of hospital rooms");
                box2.attr("placeholder", "Enter number of waiting rooms");
                box3.attr("placeholder", "Enter number of ER rooms");
                box4.attr("placeholder", "Enter number of Equipment storage space");
                break;
            case "2":
                box1.attr("placeholder", "Enter number of hotel rooms");
                box2.attr("placeholder", "Enter number of Serviced apartments");
                box3.attr("placeholder", "Enter number of bathrooms in total");
                box4.attr("placeholder", "Enter number of car parks");
                break;
            case "3":
                box1.attr("placeholder", "Enter number of student rooms");
                box2.attr("placeholder", "Enter number of beds in each room");
                box3.attr("placeholder", "Enter number of bathrooms in total");
                box4.attr("placeholder", "Enter number of car parks");
                break;
            case "4":
                box1.attr("placeholder", "Enter number of one-bedroom units");
                box2.attr("placeholder", "Enter number of two-bedroom units");
                box3.attr("placeholder", "Enter number of three-bedroom units");
                box4.attr("placeholder", "Enter number of car parks");
                break;
        }
    });

    //for the third page
    //validation for the user's input
    function validationForUserInput(inputBox1, inputBox2, inputBox3, inputBox4) {

        let regex = /^(?:[1-9][0-9]*|0)$/;

        if(regex.test(inputBox1) || regex.test(inputBox2) || regex.test(inputBox3) || regex.test(inputBox4)){

            // it means one text box has one number
            //console.log(regex.test(inputBox1), regex.test(inputBox2), regex.test(inputBox3), regex.test(inputBox4));

            if(inputBox1 == ""){
                box1.val("0");
            }

            if(inputBox2 == ""){
                box2.val("0");
            }

            if(inputBox3 == ""){
                box3.val("0");
            }

            if(inputBox4 == ""){
                box4.val("0");
            }

            // again check after filling zeros
            inputBox1 = $('#detailBox1').val();
            inputBox2 = $('#detailBox2').val();
            inputBox3 = $('#detailBox3').val();
            inputBox4 = $('#detailBox4').val();

        }
        //console.log(regex.test(inputBox1), regex.test(inputBox2), regex.test(inputBox3), regex.test(inputBox4))

        return regex.test(inputBox1) & regex.test(inputBox2) & regex.test(inputBox3) & regex.test(inputBox4);
    }

    //function to clear the user input on the third page
    function clearUserInput() {
        box1.val("");
        box2.val("");
        box3.val("");
        box4.val("");
    }

    //var of the building's squaremeter
    var squareMeter;

    const button = document.querySelector('.btnForCalculator');
    const form = document.querySelector('.form');

    //var for different tonnes of material
    var tonesOfBrick;
    var tonesOfTimber;
    var tonesOfSand;
    var tonesOfCement;


    //console.log(form);

    //function to remove the shacking animation
    function clearAnimation() {
        form.classList.remove('form--no');
    }

    //function to collapse the error message div
    function clearErrorInformation() {
        $('#errorInput').css("visibility", "collapse");
    }


    button.addEventListener('click', function () {

        //get the user input from third page
        let detailBox1 = $('#detailBox1').val();
        let detailBox2 = $('#detailBox2').val();
        let detailBox3 = $('#detailBox3').val();
        let detailBox4 = $('#detailBox4').val();

        //validate it before use
        var inputIsValid = validationForUserInput(detailBox1, detailBox2, detailBox3, detailBox4);
        //console.log(inputIsValid);

        //pop error if not pass validation, else do that normal stuff
        if (!inputIsValid) {
            form.classList.add('form--no');
            setTimeout(clearAnimation, 1000);

            //error message

            $('#errorInput').css("visibility", "visible");
            clearUserInput();

            // setTimeout(function () {
            //     $('#errorInput').css("visibility", "collapse");
            // },5000);

        } else {

            // console.log(form.classList);
            //form.classList.remove('form--no');
            // console.log(form.classList);
            //

            //console.log(numberOfBuildingType);

            //switch base on the building type
            switch (numberOfBuildingType) {
                case 0:
                    //house
                    squareMeter = detailBox1 * 21.46 + detailBox2 * 23.78 + detailBox3 * 17.9 + detailBox4 * 15.7;
                    break;
                case "1":
                    //hospital
                    squareMeter = detailBox1 * 70 + detailBox2 * 120 + detailBox3 * 65 + detailBox4 * 40;
                    break;
                case "2":
                    //hotel
                    squareMeter = detailBox1 * 30.6 + detailBox2 * 62.6 + detailBox3 * 6 + detailBox4 * 15.7;
                    break;
                case "3":
                    //student accommodation
                    squareMeter = detailBox1 * 12 + detailBox2 * 2.18 + detailBox3 * 6 + detailBox4 * 15.7;
                    break;
                case "4":
                    //residential
                    squareMeter = detailBox1 * 58 + detailBox2 * 91 + detailBox3 * 148 + detailBox4 * 15.7;
                    break;
            }

            //console.log(squareMeter);

            //calculate the number of materials or cost of materials
            tonesOfBrick = parseFloat(Math.round(squareMeter * 64000 / 93 * 0.08 * 100) / 100).toFixed(0);
            var costOfBrick = parseFloat(Math.round(tonesOfBrick * 0.1859 * 100) / 100).toFixed(0);

            tonesOfTimber = parseFloat(Math.round(squareMeter * 18880 / 93 * 0.06 * 100) / 100).toFixed(0);
            var costOfTimber = parseFloat(Math.round(tonesOfTimber * 0.5 * 100) / 100).toFixed(0);

            tonesOfSand = parseFloat(Math.round(squareMeter * 164540 / 186 * 0.02 * 100) / 100).toFixed(0);
            var costOfSand = parseFloat(Math.round(tonesOfSand * 0.4 * 100) / 100).toFixed(0);

            tonesOfCement = parseFloat(Math.round(squareMeter * 17052 / 93 * 0.04 * 100) / 100).toFixed(0);
            var costOfCement = parseFloat(Math.round(tonesOfCement * 0.7 * 100) / 100).toFixed(0);

            //console.log(tonesOfBrick, costOfBrick);

            //set the result into the display section on the fourth page
            $('#tonesOfBrick').text(tonesOfBrick + " Bricks");
            $('#costOfBrick').text("$ " + costOfBrick);
            $('#tonesOfTimber').text(tonesOfTimber + " Kg");
            $('#costOfTimber').text("$ " + costOfTimber);
            $('#tonesOfSand').text(tonesOfSand + " Kg");
            $('#costOfSand').text("$ " + costOfSand);
            $('#tonesOfCement').text(tonesOfCement + " Kg");
            $('#costOfCement').text("$ " + costOfCement);

            //move to the fourth page
            moveToDisplayPage();

            //clear the user input in the third page
            clearUserInput();

            //calculate the emissions on the fifth page
            var tonesOfWaste = parseFloat(tonesOfBrick) + parseFloat(tonesOfTimber) + parseFloat(tonesOfSand) + parseFloat(tonesOfCement);

            //for co2
            var co2Value = tonesOfWaste *0.001 * 0.8;

            //for ch4
            var ch4Value = tonesOfWaste *0.001 * 0.45;

            //for n2o
            var n2oValue = tonesOfWaste *0.001 * 0.2;

            //for sf6
            var sf6Value = tonesOfWaste *0.001 * 0.1;

            //console.log(co2Value, ch4Value, n2oValue, sf6Value);

            //set the value of emissions on the fifth page
            $('#co2Value').text(co2Value);

            $('#ch4Value').text(ch4Value);

            $('#n2oValue').text(n2oValue);

            $('#sf6Value').text(sf6Value);
        }

    });


    //init the swiper
    var swiper = new Swiper('.swiper-container', {

        //speed between the different page
        speed: 400,

        //enable auto height
        autoHeight: true,

        // need navigation button
        navigation: {
            nextEl: '.swiper-button-next-customized',
            prevEl: '.swiper-button-prev-customized',
        },

        on: {
            init: function () {
                //hide animate
                swiperAnimateCache(this);

                //start animate
                swiperAnimate(this);
            },

            //start animation when transfer from page to page
            slideChangeTransitionEnd: function () {
                swiperAnimate(this);

                $('.count').each(function () {
                    $(this).prop('Counter', 0).animate({
                        Counter: $(this).text()
                    }, {
                        duration: 1000,
                        easing: 'swing',
                        step: function (now) {
                            $(this).text(Math.ceil(now));
                        }
                    });
                });
            },
        }
    });

    //function to move to the third page and reset the type of user
    function moveTwoPageAfter() {
        swiper.slideTo($('.typeInDetailPage').index(), 1000, false);
        typeOfUser = 1;

        box1.attr("placeholder", "Enter number of bed rooms");
        box2.attr("placeholder", "Enter number of living rooms");
        box3.attr("placeholder", "Enter number of kitchens");
        box4.attr("placeholder", "Enter number of car parks");

    }

    //function to move to the second page and reset the type of user
    function moveOnePageAfter() {
        swiper.slideTo($('.chooseBuildingPage').index(), 1000, false);
        typeOfUser = 0;
    }

    //function to move to the fourth page, the display card page
    function moveToDisplayPage() {
        swiper.slideTo($('.displayDetailPage').index(), 1000, false);
    }

    //function for decide go back how many pages and reset the building type
    function moveBackPage() {

        //console.log(typeOfUser);
        if (typeOfUser == 0) {
            swiper.slideTo($('.chooseBuildingPage').index(), 1000, false);
        } else {
            swiper.slideTo($('.chooseUserPage').index(), 1000, false);
        }

        numberOfBuildingType = 0;
    }
</script>

</html>
