<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>C&D Waste</title>
    {% load static %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css'%}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Raleway:400,700" rel="stylesheet">


    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'jquery/jquery.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.bundle.js'%}"></script>
    <link href="{% static 'lib/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="{% static 'lib/ionicons/css/ionicons.min.css'%}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css'%}" rel="stylesheet">
    <link href="{% static 'lib/magnific-popup/magnific-popup.css'%}" rel="stylesheet">
    <link href="{% static 'lib/hover/hover.min.css'%}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="{% static 'css/style.css'%}" rel="stylesheet">

    <!-- Responsive css -->
    <link href="{% static 'css/responsive.css'%}" rel="stylesheet">

    <!--animate css modal-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css">

    <!--Swiper CSS-->
    <link rel="stylesheet" href="{% static 'dist/css/swiper.min.css'%}">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/business-casual.css'%}" rel="stylesheet">

    <!--css file from animate js-->
    <link href="{% static 'dist/css/animate.min.css'%}" rel="stylesheet">
</head>
<body>
<!--{% if user.is_authenticated %}-->
<!--<nav class="nav justify-content-end text-primary p-1">-->
    <!--&lt;!&ndash; <a class="navbar-brand">Navbar</a> &ndash;&gt;-->
    <!--<span class="float-right">-->
          <!--Hi {{ user.username }}! &nbsp;-->
          <!--<a class="btn btn-warning my-2 my-sm-0" style="background-color: #e6a756 !important"-->
             <!--href="{% url 'logout' %}">logout</a>-->
        <!--</span>-->
<!--</nav>-->
<!--{% endif %}-->


<!-- start section navbar -->
<nav id="main-nav">
    <div class="row">
        <div class="container">
            <div class="responsive"><i data-icon="m" class="ion-navicon-round"></i></div>
            <ul class="nav-menu list-unstyled">
                <li><a class="smoothScroll" href="{% url 'home'%}">Home</a></li>
                <li>
                    <a class="smoothScroll" href="{% url 'WasteCalculator'%}">Calculator<span class="sr-only">(current)</span></a>
                </li>
                <li><a class="smoothScroll" href="{% url 'statistics'%}">Statistics</a></li>
                <li><a class="smoothScroll" href="{% url 'SearchLocation'%}">Search</a></li>
                <li><a class="smoothScroll" href="{% url 'about'%}">About</a></li>
                {% if user.is_authenticated %}
                <li><button class="logbutton" href="{% url 'logout' %}">logout</button></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<!-- End section navbar -->

<!--calculator-->
<!-- start section map visual -->
<div id="about" class="paddsection" style="padding-top: 90px">
    <div class="container">


        <div data-space-between="10" data-direction="vertical" class="swiper-container">
            <div class="parallax-bg" data-swiper-parallax="-23%"></div>


            <div class="swiper-wrapper">
                <!--the first page for the calculator-->
                <!--<div class="swiper-slide swiper-no-swiping">-->

                    <!--<div class="container" style="margin-top: 50px">-->
                        <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
                        <!--&lt;!&ndash;<p class="ani col-md-3 firstPageTitle" swiper-animate-effect="bounceInUp" swiper-animate-duration="2.5s" swiper-animate-delay="0.5s" style="animation-iteration-count: infinite">Do you</p>&ndash;&gt;-->

                        <!--&lt;!&ndash;<p class="ani col-md-3 firstPageTitle" swiper-animate-effect="bounceInUp" swiper-animate-duration="2.5s" swiper-animate-delay="1s" style="animation-iteration-count: infinite">know</p>&ndash;&gt;-->

                        <!--&lt;!&ndash;<p class="ani col-md-3 firstPageTitle" swiper-animate-effect="bounceInUp" swiper-animate-duration="2.5s" swiper-animate-delay="1.5s" style="animation-iteration-count: infinite">how much</p>&ndash;&gt;-->

                        <!--&lt;!&ndash;<p class="ani col-md-3 firstPageTitle" swiper-animate-effect="bounceInUp" swiper-animate-duration="2.5s" swiper-animate-delay="2s" style="animation-iteration-count: infinite">you waste?</p>&ndash;&gt;-->

                        <!--&lt;!&ndash;</div>&ndash;&gt;-->

                        <!--<div class="containerForSlogan">-->

                            <!--<div class="slogan"><span>Do you know</span></div>-->
                            <!--<div class="slogan"><span>how much</span></div>-->
                            <!--<div class="slogan"><span>you waste?</span></div>-->

                        <!--</div>-->

                        <!--<div class="container" style="text-align: center; margin-top: 30px">-->
                            <!--<button type="button" class="btn btn-dark swiper-button-next-customized ani"-->
                                    <!--swiper-animate-effect="swing" swiper-animate-duration="1s"-->
                                    <!--swiper-animate-delay="3s" style="animation-iteration-count: infinite">go-->
                                <!--check-->
                            <!--</button>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--choose the type of construction-->
                <div class="swiper-slide swiper-no-swiping">

                    <!--<div>choose type of construction</div>-->

                    <div class="containerForSplitView">
                        <div class="split left">
                            <h1>Builder</h1>
                            <button class="btn-dark button" onclick="moveOnePageAfter()">Select</button>
                        </div>
                        <div class="split right">
                            <h1>Home builder</h1>
                            <button class="btn-dark button" onclick="moveTwoPageAfter()">Select</button>
                        </div>
                    </div>

                </div>
                <div class="swiper-slide swiper-no-swiping chooseKindOfBuilding">


                    <a class="back swiper-button-prev-customized" href="">
                        <span></span>
                    </a>


                    <div class="row" style="height: 100%; width: 90%; margin: 100px auto 100px">
                        <div class="containerForCard col-md-3 col-sm-6">
                            <div class="cardView swiper-button-next-customized" value="1">
                                <figure class="front">
                                    <img src="https://source.unsplash.com/QJHzMkfrJpI" alt="front">
                                    <div class="caption">
                                        <h2>Hospital</h2>
                                        <p>Select this</p>

                                    </div>
                                </figure>
                            </div>
                        </div>

                        <div class="containerForCard col-md-3 col-sm-6">
                            <div class="cardView swiper-button-next-customized" value="2">
                                <figure class="front">
                                    <img src="https://source.unsplash.com/v8ZlRRM83Zs" alt="front">
                                    <div class="caption">
                                        <h2>Hotel</h2>
                                        <p>Select this</p>

                                    </div>
                                </figure>
                            </div>
                        </div>

                        <div class="containerForCard col-md-3 col-sm-6">
                            <div class="cardView swiper-button-next-customized" value="3">
                                <figure class="front">
                                    <img src="https://source.unsplash.com/ctUWE7BUEzE" alt="front">
                                    <div class="caption">
                                        <h2>Student</h2>
                                        <p>Select this</p>

                                    </div>
                                </figure>
                            </div>
                        </div>

                        <div class="containerForCard col-md-3 col-sm-6">
                            <div class="cardView swiper-button-next-customized" value="4">
                                <figure class="front">
                                    <img src="https://source.unsplash.com/dhvtr5fwbHI" alt="front">
                                    <div class="caption">
                                        <h2>Residential</h2>
                                        <p>Select this</p>

                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="swiper-slide swiper-no-swiping typeInDetailPage">

                    <a class="back swiper-button-prev-customized" href="">
                        <span></span>
                    </a>

                    <div class="user">

                        <form class="form">
                            <div class="form__group">
                                <input id="detailBox1" type="text" placeholder="How many bed rooms"
                                       class="form__input"/>
                            </div>

                            <div class="form__group">
                                <input id="detailBox2" type="text" placeholder="How many living rooms"
                                       class="form__input"/>
                            </div>

                            <div class="form__group">
                                <input id="detailBox3" type="text" placeholder="How many kitchens"
                                       class="form__input"/>
                            </div>

                            <div class="form__group">
                                <input id="detailBox4" type="text" placeholder="How many car parks"
                                       class="form__input"/>
                            </div>
                            <button class="btnForCalculator swiper-button-next-customized" type="button">
                                Calculate
                            </button>
                        </form>
                    </div>

                </div>
                <div class="swiper-slide swiper-no-swiping">

                    <a class="back swiper-button-prev-customized" href="">
                        <span></span>
                    </a>

                    <div class="containerForDisplay">
                        <div class="row" style="margin: 80px auto 100px">
                            <div class="col-md-3 col-sm-6">
                                <div class="card">
                                    <img src="{% static 'img/calculator-brick.jpg'%}">
                                    <h4>Brick</h4>
                                    <p>You waste in units:</p>
                                    <p id="tonesOfBrick">1</p>
                                    <p>Your waste cost:</p>
                                    <p id="costOfBrick">2</p>

                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="card">
                                    <img src="{% static 'img/calculator-timber.jpg'%}">
                                    <h4>Timber</h4>
                                    <p>You waste in Kg:</p>
                                    <p id="tonesOfTimber">1</p>
                                    <p>Your waste cost:</p>
                                    <p id="costOfTimber">2</p>

                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="card">
                                    <img src="{% static 'img/calculator-sand.jpg'%}">
                                    <h4>Sand</h4>
                                    <p>You waste in Kg:</p>
                                    <p id="tonesOfSand">1</p>
                                    <p>Your waste cost:</p>
                                    <p id="costOfSand">2</p>

                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="card">
                                    <img src="{% static 'img/calculator-concrete.jpg'%}">
                                    <h4>Cement</h4>
                                    <p>You waste in Kg:</p>
                                    <p id="tonesOfCement">1</p>
                                    <p>Your waste cost:</p>
                                    <p id="costOfCement">2</p>

                                </div>
                            </div>


                        </div>

                        <div class="container">
                            <a href="{% url 'SearchLocation'%}">go to map</a>
                        </div>
                    </div>




                </div>

                <!--<div class="swiper-slide swiper-no-swiping">-->
                    <!--<div class="container">-->

                        <!--<p>her are some tips:</p>-->
                        <!--<a href="{% url 'SearchLocation'%}">go to map</a>-->
                    <!--</div>-->

                <!--</div>-->


            </div>

        </div>

    </div>
    <!--<div style="height: 600px">1</div>-->
</div>

</body>
<!-- end calculator display -->
<!-- start section footer -->
<div id="footer" class="text-center">
    <div class="container">
        <p>&copy; Copyrights Folio. All rights reserved.</p>
        <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Folio
            -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>

    </div>
</div>
<!-- End section footer -->

<!--javascript for calculator-->
<script src="{% static 'js/calculator.js'%}"></script>

<script src="{% static 'dist/js/swiper.min.js'%}"></script>

<script src="{% static 'js/animatedModal.min.js'%}"></script>

<!--animate js form -->
<script src="{% static 'dist/js/swiper.animate1.0.3.min.js'%}"></script>


<script>

    var numberOfBuildingType = 0;

    // for the split view on second page
    const left = document.querySelector(".left");
    const right = document.querySelector(".right");
    const container = document.querySelector(".containerForSplitView");

    left.addEventListener("mouseenter", () => {
        container.classList.add("hover-left");
    });

    left.addEventListener("mouseleave", () => {
        container.classList.remove("hover-left");
    });

    right.addEventListener("mouseenter", () => {
        container.classList.add("hover-right");
    });

    right.addEventListener("mouseleave", () => {
        container.classList.remove("hover-right");
    });


    //for the third page
    var box1 = $('#detailBox1');
    var box2 = $('#detailBox2');
    var box3 = $('#detailBox3');
    var box4 = $('#detailBox4');



    $('.cardView').click(function () {
        numberOfBuildingType = $(this).attr('value');




        //console.log(numberOfBuildingType, typeof numberOfBuildingType, numberOfBuildingType === "1");
        switch (numberOfBuildingType) {
            case "1":
                //console.log(box1.attr("placeholder"));
                box1.attr("placeholder", "Enter number of ");
                box2.attr("placeholder", "Enter number of ");
                box3.attr("placeholder", "Enter number of ");
                box4.attr("placeholder", "Enter number of ");
                break;
            case "2":
                box1.attr("placeholder", "Enter number of hotel rooms");
                box2.attr("placeholder", "Enter number of Serviced apartments");
                box3.attr("placeholder", "Enter number of ");
                box4.attr("placeholder", "Enter number of car parks");
                break;
            case "3":
                box1.attr("placeholder", "Enter number of student rooms");
                box2.attr("placeholder", "Enter number of beds in each room");
                box3.attr("placeholder", "Enter number of ");
                box4.attr("placeholder", "Enter number of car parks");
                break;
            case "4":
                box1.attr("placeholder", "Enter number of one-bedroom units");
                box2.attr("placeholder", "Enter number of two-bedroom units");
                box3.attr("placeholder", "Enter number of three-bedroom units");
                box4.attr("placeholder", "Enter number of car parks");
                break;
        }



    });

    //for the fourth page
    function validationForUserInput(inputBox1, inputBox2, inputBox3, inputBox4) {
        let regex = /^[1-9]\d*|0$/;

        return regex.test(inputBox1);
    }


    function clearUserInput() {
        box1.val("");
        box2.val("");
        box3.val("");
        box4.val("");
    }


    var squareMeter;

    const button = document.querySelector('.btnForCalculator');
    const form = document.querySelector('.form');

    button.addEventListener('click', function () {
        form.classList.add('form--no');

        let detailBox1 = $('#detailBox1').val();
        let detailBox2 = $('#detailBox2').val();
        let detailBox3 = $('#detailBox3').val();
        let detailBox4 = $('#detailBox4').val();


        var inputIsValid = validationForUserInput(detailBox1, detailBox2, detailBox3, detailBox4);
        console.log(inputIsValid);

        switch (numberOfBuildingType) {
            case 0:


                break;
            case "1":

                break;
            case "2":
                squareMeter = detailBox1 * 30.6 + detailBox2 * 62.6 + detailBox4 * 15.7;
                break;
            case "3":
                squareMeter = detailBox1 * 12 + detailBox2 * 2.18 + detailBox4 * 15.7;
                break;
            case "4":
                squareMeter = detailBox1 * 58 + detailBox2 * 91 + detailBox3 * 148 + detailBox4 * 15.7;
                break;


        }

        console.log(squareMeter);

        var tonesOfBrick = parseFloat(Math.round(squareMeter * 64000 / 93 * 0.08 * 100) / 100).toFixed(2);
        var costOfBrick = parseFloat(Math.round(tonesOfBrick * 1.859 * 100) / 100).toFixed(2);

        var tonesOfTimber = parseFloat(Math.round(squareMeter * 18880 / 93 * 0.06 * 100) / 100).toFixed(2);
        var costOfTimber = parseFloat(Math.round(tonesOfBrick * 50 * 100) / 100).toFixed(2);

        var tonesOfSand = parseFloat(Math.round(squareMeter * 164540 / 186 * 0.02 * 100) / 100).toFixed(2);
        var costOfSand = parseFloat(Math.round(tonesOfBrick * 0.4 * 100) / 100).toFixed(2);

        var tonesOfCement = parseFloat(Math.round(squareMeter * 17052 / 93 * 0.04 * 100) / 100).toFixed(2);
        var costOfCement = parseFloat(Math.round(tonesOfBrick * 0.7 * 100) / 100).toFixed(2);

        console.log(tonesOfBrick, costOfBrick);



        $('#tonesOfBrick').text(tonesOfBrick);
        $('#costOfBrick').text("$ " + costOfBrick);
        $('#tonesOfTimber').text(tonesOfTimber);
        $('#costOfTimber').text("$ " + costOfTimber);
        $('#tonesOfSand').text(tonesOfSand);
        $('#costOfSand').text("$ " + costOfSand);
        $('#tonesOfCement').text(tonesOfCement);
        $('#costOfCement').text("$ " + costOfCement);


        clearUserInput();

    });


    //init the swiper
    var swiper = new Swiper('.swiper-container', {
        //direction: 'vertical',

        speed: 400,
        // spaceBetween: 100,
        autoHeight: true, //enable auto height

        // need navigation button
        navigation: {
            nextEl: '.swiper-button-next-customized',
            prevEl: '.swiper-button-prev-customized',
        },

        on: {
            init: function () {

                //hide animate
                swiperAnimateCache(this);

                //start animate
                swiperAnimate(this);
            },
            slideChangeTransitionEnd: function () {
                swiperAnimate(this);
            },
        }
    });


    function moveTwoPageAfter() {
        swiper.slideTo($('.typeInDetailPage').index(), 1000, false);
    }

    function moveOnePageAfter() {
        swiper.slideTo($('.chooseKindOfBuilding').index(), 1000, false);
    }

</script>
</html>
