
.swiper-container {
  width: 100%;
  height: 100%;
  border-radius: 15px;

}

/*.firstPageTitle {*/
  /*color: #856404;*/
  /*font-size: 2em;*/
  /*text-align: center;*/
/*}*/

/*css for split view on second page*/
:root {
  --container-bg-color: #333;
  --left-bg-color: rgba(223, 39, 39, 0.3);
  --left-button-hover-color: rgba(161, 11, 11, 0.6);
  --right-bg-color: rgba(43, 43, 43, 0.4);
  --right-button-hover-color: rgba(92, 92, 92, 0.6);
  --hover-width: 70%;
  --other-width: 30%;
  --speed: 1000ms;
}

.containerForSplitView h1 {
  font-size: 4vw;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.containerForSplitView h3 {
  font-size: 2rem;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 18%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.containerForSplitView .button {
  display: block;
  position: absolute;
  left: 50%;
  top: 70%;
  height: 2.5rem;
  width: 18vw;
  text-align: center;
  border: #fff solid 0.2rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transform: translateX(-50%);
  max-width: 10rem;
  min-width: 5rem;
}

.split.left .button:hover {
  background-color: var(--left-button-hover-color);
  border-color: var(--left-button-hover-color);
}

.split.right .button:hover {
  background-color: var(--right-button-hover-color);
  border-color: var(--right-button-hover-color);
}

.containerForSplitView {
  position: relative;
  width: 100%;
  height: 550px;
  background: var(--container-bg-color);
}

.split {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.split.left {
  left:0;
  background: url('https://source.unsplash.com/A1g0oeX29ec') center center no-repeat;
  background-size: cover;
}

.split.left:before {
  position:absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--left-bg-color);
}

.split.right {
  right:0;
  background: url('https://source.unsplash.com/AaT7QoTAWls') center center no-repeat;
  background-size: cover;
}

.split.right:before {
  position:absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--right-bg-color);
}

.split.left, .split.right, .split.right:before, .split.left:before {
  transition: var(--speed) all ease-in-out;
}

.hover-left .left {
  width: var(--hover-width);
}

.hover-left .right {
  width: var(--other-width);
}

.hover-left .right:before {
  z-index: 2;
}


.hover-right .right {
  width: var(--hover-width);
}

.hover-right .left {
  width: var(--other-width);
}

.hover-right .left:before {
  z-index: 2;
}

@media(max-width: 800px) {
  h1 {
    font-size: 2rem;
  }

  .button {
    width: 12rem;
  }
}

@media(max-height: 700px) {
  .button {
    top: 70%;
  }
}

/*css for second page*/
.containerForCard, figure{
  width:95%;
  height: 300px;
}

.containerForCard{
  position:relative;
  margin: 40px auto 10px;
  max-width: 300px;
}

.cardView{
  position: relative;
  transition: 0.6s;
  transform-style: preserve-3d;
  margin-top: 10px;
}

figure{
  background: #2e5d5a;
  color: #fff;
  backface-visibility: hidden;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  cursor: pointer;
  transition: 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 1px 5px rgba(0,0,0,0.9);
}

figure img{
  position: relative;
  display: block;
  min-height: 100%;
  opacity: 0.7;
  width: 100%;
  height: 100%;
}

figure .caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  padding: 2em;
  backface-visibility: hidden;
}

.front .caption{
  font-size: 1.25em;
}

.front .caption:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
  content: '';
  opacity: 0;
  transform: translate3d(0,150%,0);
  transition: opacity 0.35s, transform 0.35s;
}

.front:hover .caption:before{
  opacity: 1;
  transform: translate3d(0,0,0);
}

.front h2{
  word-spacing: -0.15em;
  font-weight: 300;
  font-size: 1.6em;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  color: #fff;
  transition: transform 0.35s, color 0.35s;
  transform: translate3d(0,-50%,0);
}

.front h2:after{
  position: absolute;
  bottom: -10px;
  left: 70px;
  right: 70px;
  height: 2px;
  background: #fff;
  content: '';
  transition: transform 0.35s;
  transform: translate3d(-400%,0,0);
}

.front:hover h2 {
  color: #fff;
  -webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
  transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}

.front:hover h2:after {
  transform: translate3d(0,0,0);
}

.front p {
  letter-spacing: 1px;
  font-size: 68.5%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2em;
  width: 100%;
  opacity: 0;
  transform: translate3d(0,10px,0);
  transition: opacity 0.35s, transform 0.35s;
}

.front:hover p {
  opacity: 1;
  transform: translate3d(0,0,0);
}

figure a{
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*@media (min-width: 450px) {*/
/*.container{*/
/*left: 50%;*/
/*margin-left:-225px;*/
/*}*/
/*}*/


/*css for calculator form*/
:root {

  --color-primary: #ABA194;
}


.user {
  width: 90%;
  max-width: 340px;
  margin: 10vh auto 5vh;
}

.user__header {
  text-align: center;
  opacity: 0;
  transform: translate3d(0, 500px, 0);
  animation: arrive 500ms ease-in-out 0.7s forwards;
}

.user__title {
  font-size: 14px;
  margin-bottom: -10px;
  font-weight: 500;
  color: white;
}

.form {
  margin-top: 40px;
  border-radius: 6px;
  overflow: hidden;
  opacity: 0;
  transform: translate3d(0, 500px, 0);
  animation: arrive 500ms ease-in-out 0.9s forwards;
}

.form--no {
  animation: NO 1s ease-in-out;
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.form__input {
  display: block;
  width: 100%;
  padding: 20px;
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  transition: 0.3s;
}

.form__input:focus {
  background: rgba(255, 255, 255, 0.8);

}

.btnForCalculator {
  display: block;
  width: 100%;
  padding: 20px;
  -webkit-appearance: none;
  outline: 0;
  border: 0;
  color: white;
  background: var(--color-primary);
  transition: 0.3s;
}

.btnForCalculator:hover {
  background: rgba(171, 161, 148, 0.7);

}

@keyframes NO {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes arrive {
  0% {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes move {
  0% {
    background-position: 0 0
  }

  50% {
    background-position: 100% 0
  }

  100% {
    background-position: 0 0
  }
}

/*css for the card on fifth page*/

/*background for swiper*/
.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-image:url('https://source.unsplash.com/5IiH_UVYdp0');
  /*background-image:url('https://source.unsplash.com/aOYA7D3fse8');*/
  opacity: 0.7;

}


/*css for backbutton */


.back {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 900;
  width: 40px;
  height: 40px;
  text-indent: -100px;
  cursor: pointer;
  border-radius: 3px;
}


/*---the middle line---*/
.back span {
  position: absolute;
  top: 18px;
  left: 5px;
  width: 30px;
  height: 3px;
  background: #000;
  cursor: pointer;
  border-radius: 3px;
  z-index: 900;
}

/*---the active state indicator---*/
.back:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  z-index: 850;

  opacity: 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.back:active:after {
  opacity: 1;
}

/*---the bottom &top line of the hamburger menu---*/
.back span:after, .back span:before {
  width: 30px;
  height: 3px;
  background: #000;
  position: absolute;
  content: '';
  left: 0;
  border-radius: 3px;
}
.back span:after {top: -8px;}
.back span:before {bottom: -8px;}

/*---hover state---*/
.back:hover span {
  -webkit-transform: rotate(180deg);
  transform:rotate(180deg);
  -moz-transform:rotate(180deg);
}
.back:hover span:before {
  -webkit-transform: rotate(-45deg);
  width: 15px;
  left: 17px;
  bottom: -5px
}
.back:hover span:after {
  -webkit-transform: rotate(45deg);
  width: 15px;
  left: 17px;
  top: -5px
}

.back span, .back:after, .back span:after,.back span:before {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}


/*css for display the detail data*/
/*body {*/
  /*width: 100%;*/
  /*height: 100%;*/
  /*font-family: "Open Sans", "open-sans", sans-serif;*/
  /*letter-spacing: 0.03em;*/
  /*line-height: 1.6;*/
  /*color: #000;*/
/*}*/
.containerForDisplay {
  width: 100%;
  height: 100%;
  position: relative;
  margin-left: 10px;
}

.containerForDisplay .card {
  width: 90%;

  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  top: 0;
  text-align: center;
  transition: all 0.25s;
  margin: 30px auto 10px auto;
  max-width: 300px;
}

.containerForDisplay .card img{
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  min-height: 170px;
  max-height: 180px;
}

.containerForDisplay .card:nth-child(2) {
  margin: 0 50px;
}

.containerForDisplay .card:hover {
  top: -15px;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.containerForDisplay .card h4 {
  font-weight: 700;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.containerForDisplay .card p {
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 18px;
  font-weight: 400;
}

/*.containerForDisplay .card a {*/
  /*font-weight: 500;*/
  /*text-decoration: none;*/
  /*color: #3498db;*/
/*}*/


.btnToMap {
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 22px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  position: relative;
  display: inline-block;
}

.btnToMap:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.yellow {
  background-color: #f1c40f;
  box-shadow: 0px 5px 0px 0px #D8AB00;
}

.yellow:hover {
  background-color: #FFDE29;
}

#errorInput {
  text-align: center;
  color: red;
  visibility: collapse;
  margin-bottom: 5vh;
}

.chooseDescription {
  font-family: 'Poppins', helvetica;
  text-transform: uppercase;
  text-align: center;
  margin: 80px auto 10px;
  color: #000000;
  font-weight: 600;
  font-size: 26px;
  letter-spacing: 1px;
  line-height: 30px;
}

/*css for the earth on the fifth page*/

.earth {
  width: 300px;
  height: 300px;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 20px 20px #000 inset, 0 0 20px 2px #000;
}

@media (max-width: 400px){
  .earth {
    width: 200px;
    height: 200px;
  }
}

.earth:after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: -20px -20px 50px 2px #000 inset;
  border-radius: 50%;
}

.earth > div {
  width: 200%;
  height: 100%;
  animation: spin 30s linear alternate infinite;
  background: url(https://web.opendrive.com/api/v1/download/file.json/NTlfMTQ1MTkzNDhf?inline=1);
  background-size: cover;
}
@keyframes spin {
  to {
    transform: translateX(-50%);
  }
}

/*css for bubble message on the fifth page*/

.bubble-speech {
  position: relative;
  margin: auto;
  line-height: 22px;
  letter-spacing: 1px;
  margin-top: 16px;
  margin-bottom: 48px;
  width: 90%;
  background-color: #efefef;
  padding: 16px;
  text-align: center;
  font-size: 1.2rem;
  max-width: 280px;
}

.bubble-speech.bubble-left:after {
  z-index: 9002;
  display: block;
  content: "";
  position: absolute;
  bottom: -11px;
  left: 0;
  border-top: 0 #efefef solid;
  border-bottom: 12px transparent solid;
  border-left: 20px #efefef solid;
}

.bubble-speech.bubble-right:after {
  z-index: 9002;
  display: block;
  content: "";
  position: absolute;
  bottom: -11px;
  right: 0;
  border-top: 0 #efefef solid;
  border-bottom: 12px transparent solid;
  border-right: 20px #efefef solid;
}

.bubble-speech .author {
  font-weight: bold;
  color: #0b0b0b;
  margin-bottom: 10px;
}

/*css for tooltip*/

.tooltip {
  visibility: hidden;
  z-index: 9003;
  opacity: .40;

  width: 100%;
  padding: 0px 20px;

  background: #333;
  color: #E086D3;

  position: absolute;
  top:-180%;
  /*left: -5%;*/
  font-family: 'Poppins', helvetica;

  border-radius: 9px;

  transform: translateY(9px);
  transition: all 0.3s ease-in-out;

  box-shadow: 0 0 3px rgba(56, 54, 54, 0.86);
}


/* tooltip  after*/
.tooltip::after {
  content: " ";
  width: 0;
  height: 0;

  border-style: solid;
  border-width: 12px 12.5px 0 12.5px;
  border-color: #333 transparent transparent transparent;

  position: absolute;
  left: 40%;

}

.author:hover .tooltip{
  visibility: visible;
  transform: translateY(-10px);
  opacity: 1;
  transition: .3s linear;
  animation: odsoky 1s ease-in-out infinite  alternate;

}
@keyframes odsoky {
  0%{
    transform: translateY(6px);
  }

  100%{
    transform: translateY(1px);
  }

}


